---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { SITE_TITLE } from "../consts";
---

<Layout title={`Now - ${SITE_TITLE}`}>
  <h1>Now</h1>

  <p>...</p>
</Layout>
